{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}
<li class="drawer-list-item drawer-list-title">
  Menu
</li>
<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Accueil
  </a>
</li>
<li class="drawer-list-item">
  <a href="/a-propos" data-pjax>
    <i class="fa fa-user"></i>A propos
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/nouvelles" data-pjax>
    <i class="fa fa-comment"></i>Nouvelles
  </a>
</li>
<li class="drawer-list-item">
  <a href="/tag/realisations" data-pjax>
    <i class="fa fa-codepen"></i>Réalisations
  </a>
</li>
<li class="drawer-list-item">
  <a href="/contact" data-pjax>
    <i class="fa fa-phone"></i>Contact
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Suivre
</li>
<li class="drawer-list-item">
  <a href="https://ca.linkedin.com/pub/hugo-chaume/19/22a/a07" target="_blank">
    <i class="fa fa-linkedin"></i>Linked In
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/Hugo8705/" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Flux RSS
  </a>
</li>
